@import 'toolbar.css';
@import 'footer.css';

@font-face {
    font-family: "sourcesans-regular";
    src: url("https://framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.eot?") format("eot"), url("https://framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.woff2") format("woff2"), url("https://framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.woff") format("woff"), url("https://framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.ttf") format("truetype"), url("https://framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.svg#sourcesans-regular") format("svg");
}
@font-face {
    font-family: "sourcesans-semibold";
    src: url("https://framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.eot?") format("eot"), url("https://framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.woff2") format("woff2"), url("https://framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.woff") format("woff"), url("https://framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.ttf") format("truetype"), url("https://framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.svg#sourcesans-semibold") format("svg");
}
@font-face {
    font-family: "sourcesans-bold";
    src: url("https://framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.eot?") format("eot"), url("https://framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.woff2") format("woff2"), url("https://framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.woff") format("woff"), url("https://framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.ttf") format("truetype"), url("https://framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.svg#sourcesans-bold") format("svg");
}
@font-face {
    font-family: "sourcesans-light";
    src: url("https://framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.eot?") format("eot"), url("https://framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.woff2") format("woff2"), url("https://framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.woff") format("woff"), url("https://framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.ttf") format("truetype"), url("https://framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.svg#sourcesans-light") format("svg");
}
@font-face {
    font-family: "opensans-regular";
    src: url("https://framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.eot?") format("eot"), url("https://framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.woff2") format("woff2"), url("https://framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.woff") format("woff"), url("https://framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.ttf") format("truetype"), url("https://framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.svg#opensans-regular") format("svg");
}
@font-face {
    font-family: "opensans-semibold";
    src: url("https://framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.eot?") format("eot"), url("https://framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.woff2") format("woff2"), url("https://framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.woff") format("woff"), url("https://framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.ttf") format("truetype"), url("https://framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.svg#opensans-semibold") format("svg");
}
@font-face {
    font-family: "opensans-bold";
    src: url("https://framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.eot?") format("eot"), url("https://framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.woff2") format("woff2"), url("https://framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.woff") format("woff"), url("https://framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.ttf") format("truetype"), url("https://framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.svg#opensans-bold") format("svg");
}
@font-face {
    font-family: "cern-icons";
    src: url("https://framework.web.cern.ch/framework/3.0/fonts/cern/cern.eot?") format("eot"), url("https://framework.web.cern.ch/framework/3.0/fonts/cern/cern.woff2") format("woff2"), url("https://framework.web.cern.ch/framework/3.0/fonts/cern/cern.woff") format("woff"), url("https://framework.web.cern.ch/framework/3.0/fonts/cern/cern.ttf") format("truetype"), url("https://framework.web.cern.ch/framework/3.0/fonts/cern/cern.svg#cern-icons") format("svg");
}

html, body {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;

    font-family: sourcesans-regular;
    font-size: small;
}

#Title
{
    background-color: rgb(52, 58, 64);;
    color: #fafafa;
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 40px;

    font-family: sourcesans-semibold;
    font-size: large;
}

#Title a {
    color: rgb(241, 134, 46);
}

#Title #Sep:before
{
    content: 'i';
    font-family: "cern-icons";
    -webkit-font-smoothing: antialiased;
    position: relative;
    top: 4px;
}

#Titleold
{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;

    border: solid 1px #ccc;
    background-color: #efefef;
    padding: 10px;

    font-family: opensans-bold;
    font-size: larger;
    font-weight: bold;
}

a:link {
    text-decoration: none;
    color: blue;
  }
  
  a:visited {
    text-decoration: none;
    color: blue;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }

#Pagination
{
    /* text-align: center; 
    background-color: #efefef;*/
    margin-bottom: 20px;
    border-top: solid 1px #ccc;
}