@import 'base.css';
@import 'search.css';

#Home
{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#GroupTasks #Links
{
}

.searchinput 
{
    width: 280px;
    height: 26px;
    border: solid 1px #b6babf !important;
}

.searchbutton 
{
    height: 30px;
}

.note
{
    font-size: small;
    font-style: italic;
    color: #777;
}
