/* CERN Footer */

#Footer
{
  position: relative;
  height: 150px;
  background-color: black;
  margin-top: 20px;
}

/* New */
#footerlinks
{
  position: absolute;
  left: 50%;
  bottom: 10px;
}

#footerlinks #centeredlinks
{
  position: relative; 
  left: -50%;
}

#footerlinks a {
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}
#footerlinks a:visited {
  color: white;
}

#footerlogo
{
  /* border-width:0px;  */
  /* height: 110px; 
  margin: 20px; */

  position: absolute;
  bottom: 10px;
  right: 10px;
}

#footerlogo .cernlogo
{
  /* border-width:0px;  */
  height: 110px; 
  /* margin: 20px; */
}
