
#SearchPage
{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#SearchResults
{
    margin-top: 20px;
}

.searchinput 
{
    width: 280px;
    height: 26px;
    border: solid 1px #b6babf !important;
}

.searchbutton
{
    height: 30px;
}

.advname
{
    width: 80px;
}
.advinput
{
    width: 220px;
    font-size: smaller;
}

.clearfield:before
{
    content: 'H';
    font-size: larger;
    font-family: "cern-icons";
    -webkit-font-smoothing: antialiased;
    position: relative;
    top: 4px;   
}
.clearfield 
{
    cursor:pointer; 
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

.note
{
    font-size: small;
    font-style: italic;
    color: #777;
}

/* results */
#SearchCount
{
    color: #777;
    margin-bottom: 20px;
    font-weight: bold;
}

.oneresult
{
    margin-bottom: 20px;
}

.searchsubject
{
    font-size: larger;
}

.searchfrom
{
    font-size: small;
    color: #777;
}
.searchfrom a
{
    color: #777;
    text-decoration: none;
}

.searchsep:before
{
    content: 'i';
    font-family: "cern-icons";
    -webkit-font-smoothing: antialiased;
    position: relative;
    top: 2px;
}
.searchdate 
{
    color: #777;
}





