<!-- footer -->
<div id="Footer">
    <div id='footerlinks'>
        <div id='centeredlinks'>
            <a href='/XXX_APPLICATION_ID_XXX/whatsnew.php'>What's new</a> 
            <a href='http://www.cern.ch/service-portal' target='_blank'>Service Portal</a> 
            <a href='tel:+41227677777'>Service Desk</a>
            <a href='https://cern.service-now.com/service-portal/ssb.do?area=IT' target='_blank'>Status Board</a>
        </div>
    </div>

    <div id='footerlogo'>
            <a href='http://home.cern' title='CERN' rel='CERN' target='_blank'><img border='0' src='img/logowhite.svg' alt='CERN' class="cernlogo"></a>
    </div>
</div>