<!-- toolbar -->
<div style="position: relative; width: 100%; top: 0px; left: 0px; z-index: 70">
    <div id="cern-toolbar">
        <h1><a title="CERN" href="http://cern.ch">CERN <span>Accelerating science</span></a></h1>
        <ul class="cern-signedin">
            <!-- <li class="cern-accountlinks active"><a title="Sign in to your CERN account" class="cern-account">Sign in</a></li> -->
            <li><a title="Search CERN resources and browse the directory" class="cern-directory" href="http://cern.ch/directory">Directory</a></li>
        </ul>
    </div>
</div>